@import 'tailwindcss';

@theme {
  --font-display: 'Fredoka', 'serif';
}

#root {
  width: auto;
  margin: 0.5 em;
  padding: 2rem;
  text-align: center;
  border: 2px solid #000000;
  background-color: #b7d3df;
  border-radius: 50px;
}

. {
  background-color: #9fc2d1;
}
